<mat-sidenav-container class="app-sidenav-container">
  <!-- !isScreenSmall() -->
  <mat-sidenav #sidenav class="app-sidenav " [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">

    <div fxLayout="column" fxLayoutAlign="center center"
      style="background-image: url('../assets/images/header-profile.png')" fxLayoutGap="10px">
      <a mat-button routerLinkActive="active" class="MoHdn">
        <div fxFlex fxFlexAlign="center" style="padding-top:10%;">
          <img [src]="'assets/images/idea.png'" style="border-radius: 50%">
        </div>
      </a>
      <div fxFlex style="padding-bottom:8%;">
        <span>Admin</span>
      </div>
    </div>
    <mat-nav-list class="container-mat-list-item" fxLayout="column" fxLayoutGap="10px">
      <!-- <mat-list-item fxFlex="30">
            <a mat-button matLine [routerLink]="['login']">
              {{ 'MATERIAL' | translate }}
            </a>
          </mat-list-item> -->
      <mat-list-item [routerLink]="['']" routerLinkActive="active" class="navbar-item">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">looks_3</mat-icon>
        <!-- <i class="fa fa-university" ></i> -->
        <span>Dashboard</span>
      </mat-list-item>

      <mat-list-item [routerLink]="['lamps']" routerLinkActive="active" class="navbar-item">
        <i class="fa fa-bolt"></i>
        <span>Lamps</span>
      </mat-list-item>
      <mat-list-item [routerLink]="['groups']" routerLinkActive="active" class="navbar-item">
        <i class="fa fa-users"></i>
        <span>Groups</span>
      </mat-list-item>
      <mat-list-item [routerLink]="['area']" class="navbar-item">
        <i class="fa fa-map-marker"></i>
        <span fxFlex="50">Areas</span>
      </mat-list-item>
      <mat-list-item [routerLink]="['utility']" class="navbar-item">
        <i class="fa fa-cog"></i>
        <span fxFlex="50">Utility</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>