    img.bulbon {
        width: 100px;
    }

    img.bulboff {
        width: 65px;
        padding: 21px 5px 0px 18px;
    }

    span.on-bulb {
        padding: 2px 9px 0px 9px;
        background: #39e4a5;
        border-radius: 4px;
    }

    span.off-bulb {
        padding: 2px 9px 0px 9px;
        background: #e44d39;
        border-radius: 4px;
    }

    mat-slide-toggle {
        padding: 10px;
    }

    :host /deep/ {
        mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
            background-color: #f6bd5d;
        }

        .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
            background-color: rgba(246, 188, 93, 0.62);
        }
    }

    span.imei {
        padding: 2px 9px 0px 9px;
        background: #f6bc5d;
        border-radius: 4px;
    }

    .mt-p3 {
        margin-top: 0.3em;
    }

    .mt-1 {
        margin-top: 1em;
    }

    .btn {
        background: #f6bc5d;
        padding: 0em 1.8em;
        margin-bottom: 7px;
    }

    .intensity {

        margin-top: 10px;

        mat-slider {
            padding-top: 0px;
            height: 60px;
        }

        i {
            // background: #20a084;
            padding: 4px;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            margin-left: 13px;
        }
    }


    ::ng-deep .mat-accent .mat-slider-thumb {
        background-color: #f6bc5d;
    }

    ::ng-deep .mat-accent .mat-slider-thumb-label {
        background-color: #f6bc5d;
    }

    ::ng-deep .mat-accent .mat-slider-track-fill {
        background-color: #f6bc5d;
    }

    ::ng-deep .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb,
    .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
        background-color: #f6bc5d;
    }

    .hdr h2 {
        text-align: end;
        color: #fff;
        padding-left: 1em;
        font-size: 29px;
    }